<html>
  <head>
    <title> Kool Quiz</title>
  </head>
  
  <body>
    <h1> The Kool Quiz </h1>
    
    <form action= "/results" method = "post"> 
    <h2> what is your gender?</h2>
    <input type= "radio" name= "gender" value= "10">boy 
    <input type= "radio" name= "gender" value= "20">girl
    
     <h2> Do you play a sport?</h2>
    <input type= "radio" name= "sport" value= "1">yes 
    <input type= "radio" name= "sport" value= "2">no
    
    <h2> Do you code?</h2>
    <input type= "radio" name= "code" value= "1">yes 
    <input type= "radio" name= "code" value= "2">no
    
    <br></br>
    
    </form>
  </body>
</html>